<!-- <!DOCTYPE html>
<html>
<head>
    <title>Airline reservation</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='home.component.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="header">
      <h1>Indian Airline System</h1>  
    </div>
     
      <div class="topnav">
        <ul>
        <li id="p1"><a href="home.component.html">Home</a></li>
        <li id="p1"><a href="../home/home.component.html">Register</a></li>
        <li id="p1"><a href="../login/login.component.html">User Login</a></li>
        <li id="p1"><a href="../login/login.component.html">Admin Login</a></li>
         -->