<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searching flight</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='search-flight.component.css'>
</head>
<body>
    <button type="button" class="btn btn-primary" id="login"><a href="../login.html"><b style="color: aquamarine;">Login/sign up</b></a></button>
    <div class="topnav1" id="search">
   
    One Way <input type="radio" name="uname" id="text1">
   
   Round Trip <input type="radio" name="uname" id="text1"><br><br>
   <select>
    <option>Form</option>
    <option>Delhi,India</option>
    <option>bengaluru,karnataka,India</option>
    <option>Hyderabad,Telagana,India</option>
    <option>Kolkata,West bengal,India</option>
    <option>Pune,Maharastra,India</option>
    <option>Goa,Goa,India</option>
    <option>Ahamadabad,Gujarath,India</option>
    <option>chennai,Tamil nadu,India</option>
</select>
<select>
    <option>To</option>
    <option>Delhi,India</option>
    <option>bengaluru,karnataka,India</option>
    <option>Hyderabad,Telagana,India</option>
    <option>Kolkata,West bengal,India</option>
    <option>Pune,Maharastra,India</option>
    <option>Goa,Goa,India</option>
    <option>Ahamadabad,Gujarath,India</option>
    <option>chennai,Tamil nadu,India</option>
</select><br><br>
<label>DEPARTURE DATE :</label><br><br>
       <input  type="date" min="2021-01-01" max="2026-01-01" ><br><br>
       <label>ARRIVAL DATE :</label><br><br>
        <input type="date" min="2021-01-01" max="2026-01-01" >
        <br><br>
        <input type="number" placeholder="passenger"><br>
        <button type="button" class="btn btn-primary" style="width: 20%;">Search</button>
    </div>
   
</body>
</html>