<!DOCTYPE html>
<app-add-user></app-add-user>
<app-add-user></app-add-user>
<html>
<head>
    <title>Airline line reservation system</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='user-details.component.css'>
    <script src='main.js'></script>
</head>
<body>
    <!-- <div class="header">
      <h1>Welcome to indian Airline </h1>    
    </div> -->
     
    <!-- <div class="topnav">
        <ul>
        <li><a href="../home/home.component.html">Home</a></li>
        <li><a href="../user-details/user-details.component.html">Register</a></li>
        <li><a href="../login/login.component.html">Login</a></li>
       
        </ul>
      </div> -->
            <h2 style="text-align: center;">Register to best traviling experience</h2>
            <form >
                <div class="container">
                  <label for="gender"><b>Select Title</b></label>
                  <select name="gender">
                  <option value="select">Select</option>
                  <option value="male">Mr</option>
                  <option value="female">Mrs</option>
                  <option value="other">Miss</option>
                  </select><br>
                  <br>
                  <label for="uname" id="text"><b>First Name</b></label>
                  <span style="color: red;" id="msg">*</span>
                  <input type="text" placeholder="Enter First Name" name="uname" id="text1">
                  <label for="uname" id="text"><b>Last Name</b></label>
                  <span style="color: red;" id="msg">*</span>
                  <input type="text" placeholder="Enter Last Name" name="uname" id="text1">
             
                  <label for="email"><b>Email Address</b></label>
                  <input type="email" placeholder="Enter Email Address" name="email">
                  <label for="psw"><b>Create Password</b></label>
                  <span style="color: red;" id="msg2">*</span>
                  <input type="password" placeholder="Create Password" name="psw" id="text2">
                  <label for="psw"><b>Confirm Password</b></label>
                  <span style="color: red;" id="msg2">*</span>
                  <input type="password" placeholder="Confirm Password" name="psw" id="text2">
                  <label for="mobile"><b>Mobile No.</b></label>
                  <span style="color: red;" id="msg1">*</span>
                  <input type="tel" placeholder="Enter Mobile Number" name="mobile" id="phno"><br>
                  <label for="Date"><b>Date Of Birth</b></label>
                  <span style="color: red;" id="msg1">*</span>
                  <input type="date" placeholder="Enter Your Date Of Birth" name="Date" min="1900-01-01" max="2030-01-01"><br>
                  <button type="submit" class="btn btn-success">Register</button>
                </div>
              </form>
      <div class="footer">
        <p>2022 new  Airline system </p>
      </div>          
</body>
</html>
